<<<<<<< HEAD
@option compress:no, short_colors:yes, reverse_colors:yes;
=======
@option style:legacy, short_colors:yes, reverse_colors:yes;
>>>>>>> resolution
.coloredClass {
    $mycolor: green;
    padding: 20px;
    background-color: $mycolor;
}