<<<<<<< HEAD
@option compress:no, short_colors:yes, reverse_colors:yes;
=======
@option style:legacy, short_colors:yes, reverse_colors:yes;
>>>>>>> resolution
#{enumerate(".pull", 1, 24)} {
  display: inline;
  float: left;
  position: relative;
}