<<<<<<< HEAD
@option compress:no, short_colors:yes, reverse_colors:yes;
=======
@option style:legacy, short_colors:yes, reverse_colors:yes;
>>>>>>> resolution
$type: monster;
p {
  @if $type == ocean {
    color: blue;
  } @else if $type == matador {
    color: red;
  } @else if $type == monster {
    color: green;
  } @else {
    color: black;
  }
}