.qx-toolbar {
  overflow: hidden;
  background-color: rgb(244, 244, 244);
  padding: 7px;
  width: 100%;
  margin-top: 20px;
}

@media all and (max-width: 850px) {
  .qx-toolbar {
    padding: 0px;
  }

  .qx-toolbar .qx-button {
    display: block;
    width: 100%;
    background: none;
    border: 0px;
    border-top: 1px solid rgb(187, 187, 187);
  }

  .qx-toolbar .qx-button-disabled {
    display: block;
    width: 100%;
    border: 0px !important;
    background-image: none !important;
    border-top: 1px solid rgb(187, 187, 187) !important;
  }

  .qx-toolbar .qx-button:hover {
    border: 0px solid rgb(147, 147, 147);
    text-decoration: underline;
    border-top: 1px solid rgb(187, 187, 187);
  }

  .qx-toolbar .qx-button:active {
    border: 0px;
    background-color: none;
    background-image: none;
    border-top: 1px solid rgb(187, 187, 187);
  }


  .qx-toolbar .qx-button:focus {
    border: 0px;
  }
}