<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>q source</title>
  <style type="text/css">
  #wrapper {
    position: absolute;
    margin: 0;
    top: 20px;
    left: 20px;
    width: 500px;
    height: 500px;
    background-color: gray;
  }

  #ref {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: red;
  }

  #placeme {
    width: 100px;
    height: 30px;
    background-color: green;
  }
  </style>
  <script type="text/javascript" src="script/q-source.js"></script>
  <script type="text/javascript">
    q.ready(function() {
      q("#placeme").placeTo(q("#ref"), "right-top", null, "direct", "direct");
    });
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="ref"></div>
    <div id="placeme">Tooltip</div>
  </div>
</body>
</html>
