$button-background: rgb(249, 249, 249) 40%, rgb(227, 227, 227) 70%;
$button-background-active: rgb(186, 186, 186) 40%, rgb(235, 235, 235) 70%;
$button-background-disabled: rgb(249, 249, 249) 40%, rgb(227, 227, 227) 70%; // needs !important

.qx-button-disabled {
  border: 1px solid rgb(187, 187, 187) !important;
  @include background($button-background-disabled);
  opacity: 0.8;
}

.qx-button-disabled img {
  opacity: 0.4;
}

.qx-button {
  display: inline-block;
  padding: 5px 6px;
  margin: 3px;
  border: 1px solid rgb(187, 187, 187);
  @include background-clip(padding-box);
  @include border-radius(3px);
  @include background($button-background);
  cursor: pointer;
  font-size: 12px;
  outline: none;
}

.qx-button:hover {
  border: 1px solid rgb(147, 147, 147);
}

.qx-button:active {
  border: 1px solid rgb(187, 187, 187);
  @include background($button-background-active);
}

.qx-button:focus {
  border: 1px solid rgb(61, 114, 201);
}

.qx-button img {
  margin-left: 8px;
  margin-right: 5px;
}

.qx-button img,span {
  vertical-align: middle;
}
