.qx-button[disabled] {
  border: 1px solid $border-color;
  color: $highlight-color-disabled;
}

.qx-button[disabled] img {
  opacity: 0.4;
}

.qx-button {
  display: inline-block;
  padding: 8px 12px;
  margin: 3px;
  border: 1px solid $border-color;
  @include background-clip(padding-box);
  @include border-radius(2px);
  cursor: pointer;
  font-size: 14px;
  outline: none;
  background: $background-color;
  color: $highlight-color;
  line-height: 1;
}

.qx-button:hover {
  border: 1px solid $highlight-color;
}

.qx-button:active {
  border: 1px solid darken($highlight-color, 20%);
  background: darken($background-color, 10%);
}

.qx-button:focus {
  border-color: $highlight-color;
}

.qx-button img {
  margin-left: 10px;
}

.qx-button img,span {
  vertical-align: middle;
}
