$slider-background : #8E8E8E, #B7B7B7;
$slider-border: #7B7B7B;
$slider-knob-background : #F7F7F7, #E8E8E8;
$slider-knob-background-active : darken(#F7F7F7, 25%), darken(#E8E8E8, 25%);

.qx-slider {
  overflow-y: visible;
  overflow-x: visible;
}

.qx-slider:before {
  position: relative;
  content: '';
  width: 100%;
  line-height: 0.3;
  border: 1px solid $slider-border;
  display: inline-block;
  @include border-radius(3px);
  @include background($slider-background);
  top: 26px;
  height: 7px;
  box-sizing: border-box;
}

.qx-slider-knob {
  display: inline-block;

  @include user-select(none);

  width: 36px;
  height: 36px;

  font-weight: bold;
  text-align: center;

  border: 1px solid $slider-border;
  @include background($slider-knob-background);
  @include border-radius(60px);

  line-height: 0;
}

.qx-slider-knob:active {
  @include background($slider-knob-background-active);
  color: #F7F7F7;
}