.qx-tabs > ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.qx-tabs > ul:after {
  content: " ";
  display: block;
  clear: both;
}

.qx-tab-button:first-child {
  margin-left: 0px;
}

.qx-tab-button {
  float: left;
  margin-bottom: -1px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: 3px;
}

.qx-tab-button > button {
  background-color: transparent;
  border: 0;
  color: $highlight-color;
  outline: none;
  padding: 8px 12px;
}

.qx-tab-button > button:focus {
  text-decoration: underline;
}

.qx-tab-button-active {
  border: 1px solid $border-color;
  border-bottom: 1px solid $background-color;
  @include border-radius(2px 2px 0 0);
}

.qx-tab-button:hover {
  border-bottom: 1px solid $border-color;
  @include border-radius(2px 2px 0 0);
  background-color: darken($background-color, 10%);
}

.qx-tab-button-active:hover {
  border: 1px solid $border-color;
  border-bottom: 1px solid $background-color;
  background-color: transparent;
}

.qx-tab-button-active > button{
  color: black;
}

.qx-tab-page {
  border: 1px solid $border-color;
  padding: 10px;
  @include user-select(text);
}


.qx-tab-button[disabled] {
  color: $highlight-color-disabled;
}

.qx-tabs-justify > li {
  display: table-cell;
  width: 1%;
  text-align: center;
  float: none;
  border-bottom-color: transparent;
  position: relative;
  top: 1px;
}
.qx-tabs-justify > .qx-tab-button-active {
  border-bottom: 1px solid $background-color;
}

.qx-tabs-right > li {
  float: right;
}
