$highlight-color: #619EDF;
$highlight-color-disabled: desaturate($highlight-color, 100%);

$border-color : #bbb;
$background-color: white;


.qx-widget {
  overflow-x: hidden;
  overflow-y: hidden;
  outline: none;
  @include user-select(none);
}

.qx-widget[disabled],
.qx-widget[disabled] * {
  cursor: default;
  pointer-events: none;
}
